<a href="https://colab.research.google.com/github/RohitRana208/Mini-Project-04-Marks-Adding/blob/main/Marks_Adding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mini Project – Marks Adding

• Input file contain Roll numbers and marks.

• Create output file that add all the marks.

In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("/content/Mini Project - Marks Adding (1).csv")
data

       Roll Num  Marks
0     102003542      1
1     102003640      1
2     102003725      1
3     102003307      1
4     102003458      1
...         ...    ...
1831  102003755      1
1832  102017147      1
1833  102017152      1
1834  102003451      1
1835  102003549      1

[1836 rows x 2 columns]

In [6]:
df =data.groupby(['Roll Num'], sort=True).sum()
df.head(20)

           Marks
Roll Num
102003001      3
102003002      5
102003017      5
102003018      5
102003029      5
102003030      5
102003037      5
102003039      5
102003041      2
102003042      3
102003049      5
102003050      4
102003053      5
102003056      3
102003069      4
102003070      4
102003071      5
102003082      5
102003083      5
102003085      5

In [7]:
#saving to csv
df.to_csv('Total_Marks.csv', index=True)